* {
    margin: 0;
    padding: 0;
}

ul {
    display: block;
    height: 50px;
    padding-top: 21px;
}

ul li {
    list-style: none;
    display: inline-block;
    width: 31%;
    text-align: center;
    background: pink;
    float: left;
    margin-left: 1.8%;
    line-height: 30px;
    height: 30px;
    color: #fff;
}

.content {
    width: 100%;
    height: 100px;
}
.content1{
    
    background: yellow;
}
.content2{
    
    background: rgb(115, 255, 0);
}.content3{
    
    background: rgb(0, 195, 255)
}